@(message: String, style: String = "scala") 

@defining(play.core.PlayVersion.current) { version =>

<div id="content" class="content container">

    <div class="jumbotron pageheader">
        <h1 class="display-4">@message</h1>
        <p class="lead">A REST API for supplying addition questions.</p>
    </div>


    <br>

    <p>
      This project is a basic REST API, written in Scala using the Play framework (@version).
    </p>

    <pre><code>
        Something interesting in here?
        what?
    </code></pre>

    <h3>Question Generator</h3>
    <p> The code generation logic can be found here</p>

    <h3>Examples</h3>


    <h3>Interactive REST API caller</h3>


</div>
}
