@(message: String)

@defining(play.core.PlayVersion.current) { version =>

<div id="content" class="content container">

    <div class="jumbotron pageheader">
        <h1 class="display-4">@message</h1>
        <p class="lead">A REST API for supplying addition questions.</p>
    </div>

    <p>This project is a basic REST API, written in Scala using the Play framework (v@version).
        The questions are served from the <a href="./question">/question</a> path, which takes query parameters
        <code>lower</code> and <code>upper</code>, specifying the lower and upper bounds of the answer (inclusive)
        respectively. If no parameters are specified, the answer defaults to be within the range [0, 1e6].</p>

    <br>

    <h3>Generation Logic</h3>
    <p> The main logic for generating the API is as follows:</p>
    <pre><code>
    override def generateQuestion(lower: Int, upper: Int): Question = {
        val random = scala.util.Random

        // First generate the correct answer
        val ans = random.nextInt(upper - lower + 1) + lower

        val addend = random.nextInt(ans - 1) + 1 // addend in range [1, ans)
        val augend = ans - addend

        new Question(addend + " + " + augend + "?", (ans, 0, 0, 0))
    }
    </code></pre>

    <h3>Examples</h3>

</div>
}
